@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&family=Playfair+Display:ital@1&family=Roboto+Condensed&family=Rubik&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
}
